body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    background-color: #dfdbe5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%239C92AC' fill-opacity='0.17'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
}
/* dropdown menus */
.dropbtn {
    /* background-color: #3498DB;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer; */
    width: fit-content;
    background-color: #4caf50;
    color: white;
    padding: 5px 10px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980b9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.datefield{
    height:30px;

}
.dropdown a:hover {
    background-color: #ddd;
}
#print-menu {
    font-size: 15px;
}
.show {
    display: block;
}
input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}
input[type="checkbox"] {
    -ms-transform: scale(0.5); /* IE 9 */
    -webkit-transform: scale(0.5); /* Chrome, Safari, Opera */
    transform: scale(0.5);
}
/* text inputs */

input[type="text"],
select {
    width: 30%;
    padding: 8px 12px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#signin-form {
    display: none;
}
.display-date {
    font-size: 17px;
    margin-left: 50px;
    font-family: "Courier New", Courier, monospace;
}

/* submit button */
#submit-button {
    width: 50%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 3px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.visit-type-button {
    padding: 12px 8px;
    /* width:10%; */
    background-color: #4caf50;
    color: white;

    margin: 8px 0;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 43px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="submit"]:hover {
    background-color: #2c8b30;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#log {
    font-family: "Courier New", Courier, monospace;
    /* font-weight: bold; */
}

/* div {
            border-radius: 5px;
            padding: 20px;
        } */

/* checkbox */
input[type="checkbox"] {
    vertical-align: -7px;

    width: 25px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid black;
}

input[type="radio"] {
    margin-left: 20px;
}

#main {
    margin-left: 50px;
    /* margin-right: 30%; */
}

.display-time {
    margin-left: 12px;
}
.name-in-list {
    background-color: lightgreen;
    width: 350px;
    border: 1px solid black;
    cursor: pointer;
}
.name-in-list:hover {
    background-color: black;
    color: lightgreen;
    border: 3px dashed white;
}

.fade-out {
    -webkit-transition: opacity 5s ease-in-out;
    -moz-transition: opacity 5s ease-in-out;
    -ms-transition: opacity 5s ease-in-out;
    -o-transition: opacity 5s ease-in-out;
    opacity: 0;
}
#l-btn{
    
    width: 50px;
    height:30px;
    background-color: #220377;
    color: white;
    padding: 5px 8px;
    margin: 2px 0;
    /* margin-top: 600px; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#logbtn  {
    width: 150px;
    height:50px;
    background-color: #220377;
    color: white;
    padding: 5px 8px;
    margin: 2px 0;
    margin-top: 1200px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#bottom-text {
    font-size: 14px;
}
#pwdInput {
    width: 18%;
    /* height:5%; */
    height:40px;
    padding: 5px 8px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#pwdchk {
    font-size: 18px;
    transform: scale(1.2);
}

#msg {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-left: 25px;
    font-size: 25px;
}
#start-over {
    font-size: 22px;
    width: 200px;
    background-color: red;
}
#name-entry,
#visitor-info,
#date-and-button,
/* #resident-info, */
#where-going-morn,
#where-going-assist,
#how-long,
#submit-name-button,
#morningside-form-res,
#morningside-form-vis-age,
#signin-form-res,
#signin-form-vis,
#visiting-name-entry,
#auto-name,
#auto-name2,
#agency-nm,
#auto-room 
#auto-room2
#auto-room-input,
#auto-room-input2,
#room-button2,
#room-button,
#morningside-out,
#traditional-out,
#instr {
    display: none;
}
#albl {
    font-size: 25px;
}
#aname {
    height: 52px;
    font-size: 30px;
}
#auto-room-input,
#auto-room-input2,
#name {
    width: 170px;
    font-size: 37px;
}
#auto-room-input2 {
    width: 350px;
}
#auto-name-input,
#auto-name-input2 {
    font-size: 37px;
    width: 500px;
}
#namelbl {
    font-size: 25px;
    width: 300px;
}
#name {
    width: 500px;
}

#back-button {
    border: 3px solid black;

    background-color: "red";
    font-size: 20px;
}
#logtable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    /* width: 100%; */
}

#logtable2 {
    width: "100%";
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-top:20px;
    margin-left:20px;
}
#logtable2 td,
#logtable2 th {
    border: 1px solid black;
    background-color: "white";
    color: "black";
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#logtable td,
#logtable th,
#editlist td,
#editlist th {
    border: 1px solid #ddd;
    padding: 4px;
    font-size: 18px;
}

#logtable tr:nth-child(even) {
    background-color: #fff;
}
#logtable tr:nth-child(odd) {
    background-color: #ddd;
}

#logtable tr:hover,
#editlist tr:hover {
    background-color: #bbb;
}

#logtable th,
#editlist th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
}
#editlist {
    background-color: white;
}
.edit-btn {
    margin-right: 5px;
}
